
#nav-bar-body{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    width:90%;
    margin: 0 auto;
}

.right-box{
    display:flex;
    
}
.right-box-right{
    display: flex;
}

.right-box-left{
    display:flex;
    align-items: flex-end;
    /* margin: 0px 0px -10px 0px; */
    /* border:2px solid red; */
}
.right-box-right{
    /* border:2px solid red; */
    padding: 0% 4% 0% 0%;
}

.flag-img{
    /* border:2px solid red; */
    width:3vw;
    padding:0.4vw;
    /* margin:10% 20% 10% 10% */
}
.flag-img:hover{
    transform:translateY(2px)
}

.right-box-link-one-link{
    /* border:2px solid red; */
}
.right-box-link-one-link:hover{
    transform:translateY(2px)
}
.left-box-img:hover{
    transform:translateY(2px)   
}